.profile-container {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column!important;;
    justify-content: center;
    align-items: center;
    
}

.title{
    margin-bottom: 20px;
    text-transform: uppercase;
}

.profile-value-row{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 0.25rem;

    margin-top: 16px;
    gap: 16px;
}

.profile-value-row-container{
    margin-right: 10px;
    text-transform: uppercase;
}

.profile-value-row-with-button{
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 730px;

    border: 1px solid rgba(0, 0, 0, 1) !important;
    padding: 20px 30px;
    margin-bottom: 10px;

    border-radius: 0.25rem;
}

.round{
    border-radius: 0.25rem;
    margin-top: 0;
    
}
