body {
  color: #3c3737;
  font-family: Aeonikpro, sans-serif;
  font-size: 1.42857rem;
  font-weight: 400;
  line-height: 120%;
}

header {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

main {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-right-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.address,
.profile{
  font-size: 17px;
}

.card {
    font-size: 20px;
}

.profile {
  background-color: #ffffff;
  border-color: #3c3737;
  color: #3c3737;
  border-width: 1px;
  padding: 7px 15px;
  border-radius: 0.25rem;
}

.address {
  margin-right: 40px;
}

.logo {
  font-size: 20px;
}

.card {
  border: 1px solid rgba(0, 0, 0, 1) !important;
  height: 14rem;
  width: 25rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.8rem 1.90476rem 1.90476rem;
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  margin: 20px;
}

.card-image {
  width: 50px;
  margin-bottom: 20px;
}

.card ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #353535;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.card :hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #353535;
}
.card:hover {
    box-shadow: 0 0 5px #353535;
}