body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
}

p {
  text-transform: uppercase;
}

.title {
  font-size: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.tooltip {
  justify-self: flex-end;
}

.form {
  display: flex;
  width: 737px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-height: 700px;
}

.basic-button {
  display: flex;
  padding: 14px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-transform: uppercase;
}

.black-button {
  border: 1px solid #000;
  background: #000;
  color: white;
}

.white-button {
  border: 1px solid #000;
  background: #fff;
}

.numbers{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.input{
  height: 16px;
}

.modal{
  height: 100vh;
  width: 100vw;
  background:  rgba(0,0,0,.5);
}

ul{
  background: white;
  padding: 40px;
  color: #000;
}