body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  width: 737px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
