h1,
h3,
p,
li,
span,
button {
  text-transform: uppercase;
}

.title {
  font-size: 18px;
  text-align: center;
}

.main-title {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.user{
  position: absolute;
  top: 12px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: 8px;

  .logout{
    background: #000;
    color: #fff;
    height: auto;
    padding: 6px 12px;
    border-radius: 6px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 8px;
}

.tooltip {
  justify-self: flex-end;
}

.form {
  display: flex;
  width: 737px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-height: 700px;
}

@media (max-width: 460px) {
  .form {
    display: flex;
    width: 243px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  ul {
    width: 60% !important;
  }
}

.basic-button {
  display: flex;
  padding: 14px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-transform: uppercase;
}

.black-button {
  border: 1px solid #000;
  background: #000;
  color: white;
}

.white-button {
  border: 1px solid #000;
  background: #fff;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  animation-name: appear;
  animation-duration: 300ms;
}

ul {
  background: white;
  padding: 40px;
  color: #000;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  img {
    width: 24px;
    height: 24px;
    align-self: flex-end;
  }

  h3 {
    text-align: center;
  }
}

.carousel {
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .carousel {
    width: 100%;
  }
}
