.container{
  align-items: center;
}

.button {
  width: 380px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
  background: rgba(30, 30, 30, 0.6);
  color: white;
  text-transform: uppercase;
  z-index: 100;
}
